/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

.pageHeader{
  background-color: black;
  height: 75px;

}
.pageHeader{
  color: white;
  display:flex;
  align-items: center;
  /* justify-content: center; */

}

.imageBackground{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg");
}
/*.pageHeader .headerLogo{
  justify-content: flex-start;
}*/

.navagationBar{
  justify-content: flex-end;
}

.headerLogo{
  color:#f2ff00;
  margin-right: 50%; /*Eveyrthing to the right of logo needs to be 50% away*/
  justify-content: center;
  /* margin-top:1%; */
  align-self: center;
  padding-top: 5px;
  padding-left: 1px;
}

.navagationBar ul{
  display:flex;
  list-style: none;
  gap: 10px;

}

.upperCase{
  text-transform: uppercase;
}

.midcontent{
  font-style: italic;
  background:#adadad;
  width:100%;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 18px;
}




/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */