.carousel-item{
transition: transform 1s ease, opacity .5s ease-out;
}
/* Header  */
.pageHeader{
background: white;

}

.navbar-brand img{
    max-height:50px;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left:auto; /*over-ride setting */
}

.navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(199, 70, 58);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
/* Mid Content info */
.midContent{
    display:flex;
    overflow: hidden;
    width: 100%;
    background-color:black;
    flex-wrap: wrap;
    /* height: 20px; */
    /* contain:strict; not sure if i still need line 25 and 26 */
}

.midContentDiv{
    flex: 50%;
    height: 600px;
}
.midContentDiv img{
    height:100%;
    width:100%;
}

@media screen and (min-width:1200px){
    .midContentDiv{
    height: 50vw;
    } 
    
}

@media screen and (max-width:768px){
    .midContentDiv{
        flex:100%;
    }
    .midContentDiv img{
        height:auto;
        width: 100%;
    }
}



.midConentDivImgHouse{
    display: flex;
    justify-content: flex-end;

}
.midContentInfo{
    background: black;

    overflow: hidden;
    text-align: center;
    padding-top: 233px;
    /* background-repeat: no-repeat;
    /* background-size: cover; */
    /* height:500px; */
}
.floatingContent{
    /* height: 50%;
    width:50%;
    border:red 2px solid; */
    /* background-color:red; */
}
.headerContent{
    color:white;
    font-family: 'Alfa Slab One';
}  

.subContent{
    color: rgb(199, 70, 58);
    font-family: 'Alfa Slab One';
}

/* middle section box */

.AdditionalFeatures{
    display: flex;
    gap: 30px;
    width:100%;
    /* margin-left: 10px; */
}

.Feature{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 2rem;
}
.btn-primary{
    display: block;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(199, 70, 58);
    border-color: rgb(150, 50, 40);
}

.btn-primary:hover ,
.btn-primary:active,
.btn-primary:focus{
    background-color: black;
    color:rgb(199,70,58);
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.25rem rgb(199 70 58 / 50%);
}



.weightIcon1 img{
    height: 50px;
    /* width:100px; */

}

.weightIcon3 img{
    height:100px;
    /* width:100px; */
}
.weightIcon1, .weightIcon2, .weightIcon3{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .Space{
    padding-bottom: 20px;
} */

.headerResults{
    text-align: center;
    height:100px;
    padding-top: 25px;
    /* background-color: goldenrod;  */
    font-family: 'Alfa Slab One';
}

/* Carousel */
.result-row{
    /* margin-top: 25px; */
}
/* .transformation-row{
    justify-content: flex-end;

} */
.carouselHouse{
    height:600px;
    overflow: hidden;


}
.carousel-item {
    /* height: 600px; */
    background:white;
    color:black;
    /* margin-top: 50px; */
  }
  
  .carousel-item img {
      /* position: absolute;
      object-fit:cover;
      top: 0;
      left: 0; */
      /* height: 600px; */

      object-fit:cover;

  }

  .testimonyText{
    font-size: 20px;
    font-weight: bold;
  }

  .testimonyName{
      font-size: 18px;
  }

  .testimonialInfo{
      text-align: center;
  }

.moreInfoHeader{
    font-family:'Alfa Slab One';
    
}

#disclaimerID{
color: rgb(199, 70, 58);
}

/* Instagram Tag */
.Instagram a{
    text-decoration: none;
    color: black;
}

.Instagram{
    text-align: center;
}

.Instagram img{
    height:50px;
}

/* map */

.mapTag{
    width:100%; 
    height: 100%;
    min-height: 400px;
}

/* footer */

.Footer{
    color: black;
    font-family: 'Lato', sans-serif;
    /* background-color: black; */
}


/* Sign up classes */

.priceImg img{
    width:100%;
}

.classInfo{
    text-align: center;
    padding-top: 168px;
    /* background-color: black;
    color: rgb(199, 70, 58); */
}

.classInfo a{
    width: 50%;
    margin:auto;
}
/* Transformation */

.carouselWidth{
    width: 40% !important;
}

.transformationFooter{
margin-top: 90px;

}
