/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    gap:10px;
    width: 100%;

}

.exerciseHeaderNav ul li {
    min-width:20%;


}


.exerciseMainContent {

}


.exerciseAdditionalFeatures {
    display: flex;
    gap:10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width:33%; /*how big the child is*/
    

}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}