/* Featured and Expanded Item */


@media screen and (min-width:1600px){

.trulia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1200px) and (max-width:1599px){

.trulia-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}

@media screen and (max-width: 767px) {
    .trulia-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1024px){
    .trulia-nav-mobilehide{
        display:none;
    }

    .trulia-nav-toggle {
        display:block;
        color:white;
        font-size: 35px;
      }
    .trulia-nav{
        display:block;
        height: auto;
    }

    .trulia-nav-left,
    .trulia-nav-right {
    justify-content: space-between;
    }
}

.trulia-grid-item {
    cursor:pointer;
    transition: 0.15s ease-in-out;
}

.trulia-featured-grid-item {

}

/* .trulia-featured-grid-item .trulia-house-image {
    height:85%;
}

.trulia-featured-grid-item .trulia-house-facts {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 0px 10px 0px 10px;
    height:15%;
    min-height:160px;
  }

  .trulia-featured-grid-item .trulia-house-address {
    flex: 3;
    font-size: 20px;
    color:rgb(55,55,55);
  }

  .trulia-featured-grid-item .trulia-house-price {
    flex: 1;
    min-width:300px;
  }

  .trulia-featured-grid-item .trulia-house-price h1 {
    font-size: 30px;
}
.trulia-featured-grid-item .trulia-house-stats {
    flex:1;
    font-size: 16px;
    font-weight: bold;
}

.trulia-featured-grid-item .trulia-article-icon {
    height: 25px;
    padding: 0px 3px 0px 0px;
  } */